extends base

block body
  body
  
  #main
    section#hero
    section#skills.container-fluid
      .row#skillsTitle
      .row#skillEntryRow
    section#work.container-fluid
      .row#workTitle
      .row#workEntry
    section#projects.container-fluid
      .row#projectsTitle
      .row#projectsEntry  
    section#education.container-fluid
      .row#educationTitle
      .row#educationEntry
      .row#onlineClassTitle
      .row#onlineClassEntry
    .row#mapTitle
    section#mapDiv
    section#footer.container-fluid
      .row#footerTitle
      .row#footerEntry

  include ./script.jade
  
