/************************
        Hero
************************/
#hero{

  .name{
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 3.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 2s;
    animation-delay: .3s;
    text-shadow: 2px 2px #000;

    .role{
      font-size: .4em;
      color: white;
      animation-duration: 2s;
      animation-delay: 1.5s;
    }

    .contactInfo{
      font-size: .3em;
      animation-duration: 2s;
      animation-delay: 2s;
    }
  }

  .mePic{
    animation-duration: 2s;
    animation-delay: 1.5s;
  }

  .hero{

    img{
      height: 100vh;
      width: 100vw;
    }
  }
}
